body {
  font-family: Roboto, sans-serif;
}

aside {
  min-width: 16px;
  max-width: 300px;
}

aside.fold {
  max-width: 16px;
  @apply border-dashed;

  span {
    @apply -rotate-90;
  }

  h3, ul {
    @apply hidden;
  }
}

aside.unfold {
  min-width: 300px;
  @apply border-solid;

  span {
    @apply rotate-90;
  }

  h3, ul {
    @apply flex;
  }
}

#files li {
  &::before {
    content: '';
    @apply inline-block align-middle w-1 h-1 rounded bg-gray-500 -ml-2.5 mr-2.5;
  }

  &:hover::before {
    @apply bg-green-500;
  }

  &.active {
    @apply text-green-500;

    &::before {
      @apply bg-green-500;
    }
  }
}

#content {
  img {
    @apply inline-block;
  }

  pre {
    @apply border border-gray-200;
  }

  li {
    @apply list-disc;

    p {
      @apply inline-block;
    }
  }

  * + h1 {
    @apply mt-12;
  }

  h1 {
    @apply text-center border-b-0 mb-12;

    .heading-anchor {
      @apply hidden;
    }
  }

  .heading {
    @apply relative;

    &:hover .heading-anchor {
      @apply opacity-100;
    }
  }

  .heading-anchor {
    @apply pr-1 absolute text-green-500 opacity-0 transform -translate-x-full;
  }
}
