body {
  letter-spacing: .2px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aside {
  min-width: 16px;
  max-width: 300px;

  & + #main {
    @media (min-width: 1024px) {
      margin-left: min(300px, 33.333333%);
    }
  }
}

aside.fold {
  max-width: 16px;
  @apply border-dashed;

  & + #main {
    margin-left: 0;
  }

  span {
    @apply -rotate-90;
  }

  h3, #files, #outline {
    @apply hidden;
  }
}

aside.unfold {
  min-width: 300px;
  @apply border-solid;

  & + #main {
    margin-left: 0;

    @media (min-width: 1024px) {
      margin-left: min(300px, 33.333333%);
    }
  }

  span {
    @apply rotate-90;
  }

  h3, #files, #outline {
    @apply flex;
  }
}

#files li {
  &::before {
    content: '';
    @apply inline-block align-middle w-1 h-1 rounded bg-gray-500 -ml-2.5 mr-2.5;
  }

  &:hover::before {
    @apply bg-green-500;
  }

  &.active {
    @apply text-green-600;

    &::before {
      @apply bg-green-500;
    }
  }
}

#outline {
  @apply w-full h-8 absolute bottom-0 text-sm text-gray-600 bg-white overflow-hidden;

  &.active {
    @apply h-3/5 relative;
  }

  &::before {
    content: 'OUTLINE';
    @apply w-full h-full py-2 px-4 z-10 block bg-white text-xs border-t border-gray-100 text-gray-400 tracking-wider cursor-pointer;
  }

  &.active::before {
    @apply h-auto;
  }
}

#outline > ul {
  @apply w-full h-full px-5 leading-8 overflow-auto;

  a {
    @apply block hover:text-green-600;
  }

  ul {
    @apply pl-5 border-l border-gray-200;
  }

  & > li > a {
    @apply text-gray-700;
  }

  & > li:first-child {
    @apply pt-2;
  }

  & > li:last-child {
    @apply pb-4;
  }
}

#content {
  color: #2c3e50;

  img {
    @apply inline-block;
  }

  pre {
    @apply border border-gray-200 cursor-text break-all break-words whitespace-pre-wrap;

    &:focus {
      outline: 1px auto #e59700;
    }

    & + pre {
      margin-top: -18px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  ul {
    ul {
      margin-bottom: 16px;
    }
  }

  li {
    @apply list-disc;

    p {
      @apply mt-0 mb-2;
    }
  }

  h1 {
    @apply text-center border-b-0 mb-12;

    .heading-anchor {
      @apply hidden;
    }
  }

  * + h1 {
    @apply mt-12;
  }

  .heading {
    @apply relative;

    &:hover .heading-anchor {
      @apply opacity-100;
    }
  }

  .heading-anchor {
    @apply pr-1 absolute text-green-600 opacity-0 transform -translate-x-full;
  }

  .math {
    @apply opacity-0;

    &.rendered {
      @apply opacity-100;
    }

    &.inline {
      @apply my-0.5 inline-block;
    }
  }

  b,
  strong {
    font-weight: 500;
  }

  details {
    @apply text-sm;

    summary {
      @apply mb-2;
    }

    summary p {
      display: inline;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    &[open] {
      @apply px-3 py-3 relative border border-dashed border-gray-200;

      summary {
        font-size: 0;
        @apply inline absolute top-1 right-2 bg-white outline-none;
      }

      summary::before {
        content: '\00D7';
        @apply text-xl text-gray-400;
      }
    }
  }
}
