/* General */
ol, ul, p {
  line-height: 1.7rem;
}

/* Link */
a {
  @apply text-green-600 dark:text-green-400 outline-none no-underline hover:underline;
}

/* Paragraph */
p {
  @apply mb-4;
}

/* List */
ol {
  @apply list-decimal;
}

ol,
ul {
  @apply my-4 pl-5;
}

ul {
  @apply list-disc;

  ul {
    @apply m-0;
    list-style: circle;
  }

  li p {
    @apply mt-0 mb-2;
  }
}

li {
  @apply mt-1;
}

/* Image */
img {
  @apply max-w-full inline-block opacity-0 transition-opacity delay-100;

  &.rendered {
    @apply opacity-100;
  }

  &[align="left"] {
    @apply float-left mb-10 mr-10;
  }

  &[align="right"] {
    @apply float-right mb-10 ml-10;
  }

  &[align="middle"] {
    @apply block mx-auto;
  }

  @media (prefers-color-scheme: dark) {
    filter: brightness(.85) contrast(1.2);
  }
}

/* Heading */
.heading {
  @apply mb-4 font-semibold;

  &::before {
    content: '';
    @apply block clear-both;
  }

  & + .heading {
    @apply mt-0;
  }
}

h1.heading {
  font-size: 2.2rem;
  @apply mt-5 mb-12 text-center;

  .heading-anchor {
    @apply hidden;
  }
}

h2.heading {
  font-size: 1.65rem;
  @apply mt-10 pb-1 border-b border-gray-100 dark:border-gray-600;
}

h3.heading {
  font-size: 1.35rem;
  @apply mt-8;
}

h4.heading {
  font-size: 1rem;
  @apply mt-8;
}

h5.heading {
  font-size: .875rem;
}

h6.heading {
  font-size: .85rem;
}

/* Table */
table {
  @apply mb-4 max-w-full border-collapse;

  th {
    font-weight: 500;

    &:empty {
      @apply hidden;
    }
  }

  tr {
    @apply dark:bg-gray-800;

    &:nth-child(2n) {
      @apply bg-gray-50 dark:bg-gray-700 dark:bg-opacity-30;
    }
  }

  tr, th, td {
    @apply px-3.5 py-1.5;
    @apply border border-gray-200 dark:border-gray-700;
  }
}

/* Code */
pre {
  font-size: .85rem;
  @apply p-3 rounded relative opacity-0 transition-opacity delay-100 cursor-text;
  @apply bg-gray-50 dark:bg-gray-700 dark:bg-opacity-30;

  code {
    font-size: 100%;
    @apply inline-block p-0 bg-transparent;
  }

  &.rendered {
    @apply opacity-100;
  }

  & + p {
    @apply mt-4;
  }

  & + pre {
    margin-top: -8px;
    @apply relative rounded-t-none;

    &::before {
      content: '';
      @apply absolute top-0 left-0 w-full border-t border-dashed border-opacity-80 border-gray-200 dark:border-gray-600;
    }
  }
}

code {
  font-size: 85%;
  padding: .2em .4em;
  border-radius: 3px;
  @apply text-gray-600 dark:text-gray-200 bg-gray-100 dark:bg-gray-700;
}

/* Misc */
// TODO
hr {
  overflow: hidden;
  border: 0;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border-bottom-color: #eee;

  &:after,
  &:before {
    display: table;
    content: '';
    clear: both;
  }
}

strong {
  font-weight: 500;
}

details {
  @apply text-sm;

  summary {
    @apply mb-2 cursor-pointer;
  }

  summary p {
    @apply inline;
  }

  & > :last-child {
    @apply mb-0;
  }

  &[open] {
    @apply px-3 py-3 relative border border-dashed border-gray-200 dark:border-gray-600;

    summary {
      font-size: 0;
      @apply inline absolute top-1 right-2 outline-none;
    }

    summary::before {
      content: '\00D7';
      @apply text-xl text-gray-400;
    }
  }
}

blockquote {
  @apply my-4 px-5 py-6 bg-gray-50 dark:bg-gray-700 dark:bg-opacity-60 border-l-8 border-green-400 dark:border-green-500;

  code {
    @apply bg-gray-200 bg-opacity-60 dark:bg-gray-600 dark:bg-opacity-60;
  }

  :last-child {
    @apply mb-0;
  }
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.heading {
  @apply relative;

  .heading-anchor {
    @apply pr-1 absolute text-green-600 dark:text-green-400 opacity-0 transform -translate-x-full transition-opacity;
  }

  &:hover .heading-anchor {
    @apply opacity-100;
  }
}

.math {
  @apply opacity-0 transition-opacity;

  &.rendered {
    @apply opacity-100;
  }

  &.inline {
    @apply my-0.5 inline-block;
  }

  &.display {
    @apply block;
  }
}

.line-highlight {
  &::before, &::after {
    content: none;
  }
}
