body {
  @apply w-screen h-screen flex overflow-hidden;

  letter-spacing: .2px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aside {
  min-width: 16px;
  max-width: 300px;
  @apply lg:w-2/6 h-full flex flex-col absolute z-10  border-r border-dashed lg:border-solid;
  @apply bg-white dark:bg-gray-800 border-gray-100 dark:border-gray-600;

  & + #main {
    @media (min-width: 1024px) {
      margin-left: min(300px, 33.333333%);
    }
  }

  h3 {
    @apply ml-7 mt-8 mb-5 hidden lg:flex font-bold text-2xl text-gray-600 dark:text-gray-200;
  }

  #switch {
    @apply w-5 h-5 absolute z-20 top-1/3 right-0 cursor-pointer transform duration-150
    bg-white border rounded-full border-gray-100 translate-x-1/2 -rotate-90 lg:rotate-90 hover:scale-125;
  }
}

aside.fold {
  max-width: 16px;
  @apply border-dashed;

  & + #main {
    margin-left: 0;
  }

  #switch {
    @apply -rotate-90;
  }

  h3, #files, #outline {
    @apply hidden;
  }
}

aside.unfold {
  min-width: 300px;
  @apply border-solid;

  & + #main {
    margin-left: 0;

    @media (min-width: 1024px) {
      margin-left: min(300px, 33.333333%);
    }
  }

  #switch {
    @apply rotate-90;
  }

  h3, #files, #outline {
    @apply flex;
  }
}

#files {
  @apply px-7 pb-7 hidden lg:flex flex-col text-sm overflow-auto text-gray-700 dark:text-gray-200;

  ul {
    @apply flex flex-col;
  }

  li {
    @apply py-3 cursor-pointer;

    &:hover > span,
    &.active > span {
      @apply text-green-600 dark:text-green-400;
    }
  }

  li + ul {
    @apply px-4 hidden border-l border-gray-200 dark:border-gray-600;
  }
}

#outline {
  @apply w-full h-8 hidden lg:flex flex-col absolute bottom-0 text-sm overflow-hidden;

  &.active {
    @apply h-3/5 relative;
  }

  &::before {
    content: 'OUTLINE';
    @apply w-full h-full py-2 px-4 z-10 block text-xs border-t tracking-wider cursor-pointer;
    @apply bg-white dark:bg-gray-800 text-gray-400 dark:text-gray-400 border-gray-100 dark:border-gray-600;
  }

  &.active::before {
    @apply h-auto;
  }

  & > ul {
    @apply w-full h-full px-5 leading-8 overflow-auto;

    a {
      @apply block text-gray-600 dark:text-gray-300 hover:text-green-600 dark:hover:text-green-400;
    }

    ul {
      @apply pl-5 border-l border-gray-200 dark:border-gray-600;
    }

    li.active > a {
      @apply text-green-600 dark:text-green-400;
    }

    & > li:first-child {
      @apply pt-2;
    }

    & > li:last-child {
      @apply pb-4;
    }

    & > li > a {
      @apply text-gray-700 dark:text-gray-200;
    }
  }
}


#main {
  @apply w-full h-full overflow-x-auto;
}

#content {
  color: #2c3e50;
  @apply w-full h-full px-12 md:px-14 lg:px-16 py-7 overflow-auto;
  @apply dark:bg-gray-800 dark:text-gray-200;
  @import 'content';
}

@import '~prismjs/plugins/line-highlight/prism-line-highlight.css';

@import "~prism-themes/themes/prism-one-light.css" (prefers-color-scheme: light);

@import "~prism-themes/themes/prism-dracula.css" (prefers-color-scheme: dark);
